body{
    background-color: #232323;
    margin:0px 0px;
}
h1{
    background-color:steelblue;
    margin:0 auto;
    text-align: center;
    color:white;
    text-transform: uppercase;
    font-weight:100;
    padding:25px 0px;
        
}
.whiteln{
    background-color: white;
    text-align: center;
     color:steelblue;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    
}

button{
    outline:none;
    transition:all 0.8s;
    border:none;
    font-weight: 700;
    letter-spacing: 0.5px;
    max-height: inherit;
    text-transform: uppercase;
    color:steelblue;
    background: none;
    padding:8px;

}
h1>span{
    font-size:50px
}
.container{
    margin:40px auto;
    max-width:350px;
    
    
}
.sq{
    transition:all 0.9s;
    background:blue;
    width:30%;
    float:left;
    margin:1.66%;
    padding-bottom:30%;
    border-radius:15%;
}
.result{
    margin:0 60px;
}
.sbtn{
    background: steelblue;
    color:white;
}